/* Harlowe key navigation labelling */

@counter-style link-num {
   system: fixed;
   symbols: '1' '2' '3' '4' '5' '6' '7' '8' '9' a b c d e f g h i j k l m n o p k r s t u v w x y z;
   suffix: " ";
}

html[data-keynav] {

   tw-passage {
      counter-reset: links;
   }

   tw-link {
      counter-increment: links;
   }

   tw-link::after {
      content: '[' counter(links, link-num) ']';
      color: #fff;
      vertical-align: super;
      font-size: 60%;
      font-weight: normal;
   }

   tw-sidebar tw-link {
      counter-increment: none;
   }
   tw-sidebar tw-link::after {
      content: none;
   }

}